:root {
    --color-main-100: #FFFFFF;
    --color-main-200: #EBFEEB;
    --color-main-300: #C5FCC5;
    --color-main-400: #9EF99E;
    --color-main-500: #77F777;
    --color-main-600: #51F551;
    --color-main-700: #2AF32A;
    --color-main-800: #0DE70D;
    --color-main-900: #0BC00B;
  }
  