<section class="w-[70%] mx-auto">
    <h1 class="text-center text-main my-2 text-xl ">Forgot Password</h1>


@if(step==1){
        <form [formGroup]="verifyEmail" class=" bg-slate-200 rounded-sm shadow p-3" (ngSubmit)="verifyEmailSubmit()">
            <div class="my-3 ">
                <label for="email">Email</label>
                <input formControlName="email" type="email" id="email" class="form-control w-full">
        
            </div>
            <button [disabled]="verifyEmail.invalid" class="btn-main"> verify Emalil</button>
        </form>

}
@else if(step==2){
    <form [formGroup]="verifyCode" class=" bg-slate-200 rounded-sm shadow p-3" (ngSubmit)="verifyCodeSubmit()">
        <div class="my-3 ">
            <label for="resetCode">resetCode</label>
            <input formControlName="resetCode" type="text" id="resetCode" class="form-control w-full">
    
        </div>
        <button [disabled]="verifyCode.invalid" class="btn-main"> verify Code</button>
    </form>

}
@else if(step==3){
        <form [formGroup]="resetPassword" class=" bg-slate-200 rounded-sm shadow p-3">
            <div class="my-3 ">
                <label for="email">Email</label>
                <input formControlName="email" readonly="" type="email" id="email" class="form-control w-full">
                <label for="newpassword">new password</label>
                <input newpassword="newpassword" type="text" id="newpassword" class="form-control w-full">
        
            </div>
            <button [disabled]="resetPassword.invalid" class="btn-main"> Login wih your new Account</button>
        </form>
    }
</section>
